.wrapper {
  display: flex;
}

.container {
  display: flex;
  flex-basis: 480px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin: 180px auto 0;
}

.title {
  margin: 0;
}

.form {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.linksWrapper {
  margin-top: 80px;
  width: 100%;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.linkWrapper:not(:last-of-type) {
  margin-bottom: 16px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}
