.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image {
  max-width: 100%;
}

.name {
  max-width: 272px;
  text-align: center;
}

.priceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  margin-right: 8px;
}

.counterWrapper {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
}
