.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C21;
    box-shadow:
        0 24px 32px rgba(0, 0, 0, .04),
        0 16px 24px rgba(0, 0, 0, .04),
        0 4px 8px rgba(0, 0, 0, .04),
        0 0 1px rgba(0, 0, 0, .04);
}

.nav {
    width: 100%;
    max-width: 1320px;
}

.list {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
